* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Oswald:400");

html {
  font-size: 100%;
} /*16px*/

body {
  background: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
  text-transform: capitalize;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}
#navbar {
  display: flex;
  background-color: rgb(182, 4, 4);
  min-height: 3rem;
}
.links-container {
  align-items: center;
  display: flex;
  margin-left: auto;
}
a {
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.3rem;
}
.section {
  min-height: calc(100vh - 70px);
}
.work {
  background-color: rgb(9, 64, 100);
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-between;
  align-items: center;
}
.section-title {
  text-align: center;
  text-decoration: underline;
  color: white;
  padding-top: 1rem;
}
